---
import type { Post } from '@utils/posts';
import PostCard from './PostCard.astro';
import type { Lang } from '@i18n/index';
import { getTranslations } from '@i18n/index';

interface Props {
  posts: Post[];
  lang?: Lang;
}

const { posts, lang = 'pt' } = Astro.props;
const t = getTranslations(lang);
---

{
  posts.length > 0 ? (
    <div class="grid gap-6 md:grid-cols-2 xl:grid-cols-3">
      {posts.map((post) => <PostCard post={post} lang={lang} />)}
    </div>
  ) : (
    <p class="text-grey-500 dark:text-grey-300">{t.posts.empty}</p>
  )
}
